:root {
  --wrapper-basics: lightgray;
}

#wrapper {
  display: grid;
  background-color: var(--wrapper-basics);
  height: 180vh;
  grid-template-columns: 0.4fr repeat(2, 1fr) 0.8fr;
  grid-template-rows: 0.75fr repeat(5, 1fr) 0.8fr;
  grid-template-areas: 
  "hd hd hd hd"
  "pl mp mp p1"
  "pl mp mp p1"
  "pl sn sn p1"
  "pl sn sn p2"
  "pl sn sn p2"
  "ft ft ft ft";
}

#header {
  height: 8vh;
  display: grid;
  grid-area: hd;
  font-size: 1.5rem;
  border-radius: 20px;
  border: 4px solid brown;
  background-color: rgba(255, 225, 0, 0.422);
  padding: 30px;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: 1fr;
  grid-template-areas: "links links sokbar";
}
#links a{color: rgb(359, 80, 52); justify-self: center;}
#links {
  grid-area: links;
  display: grid;
  grid-template-areas: 
  "link1 link2 link3 link4 blanc";
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  align-self: center;
}
#link1 {grid-area: link1} #link2 {grid-area: link2} #link3 {grid-area: link3} #link4 {grid-area: link4} #blanc {grid-area: blanc;}
#sokbar {
  border-radius: 10px;
  margin-right: 10%;
  grid-area: sokbar;
}
#sokbar input{
  width: 97%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
  object-position:center;
  border: 4px solid gray;
}

@font-face{
  font-family: british_rail_font;
  src: url('../misc/fonts/britrln_.ttf');
}
#header , #section1, #section2{
  font-family: british_rail_font;
}

#model_picture {
  border-radius: 50px 10px 50px 10px;
  grid-area: mp;
  border: 8px solid rgb(79, 79, 79);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#model_picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
}

#section {
  grid-area: sn;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
  "s1"
  "s2";
  background-color: darkgray;
  /*border: 4px solid red;*/
  border-radius: 10px 50px 0px 0px;
}
#section1 {
  grid-area: s1;
  font-size: 2rem;
  padding: 1.5% 0 0 2%;
  /*border: 4px solid blue;*/
}
#section2 {
  grid-area: s2;
  font-size: 1rem;
  padding: 2% 0 0 2%;
  /*border: 4px solid green;*/
}

#pic1{
  grid-area: p1;
  border: 4px dotted rgb(49, 173, 161);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  max-height: 75vh;
}
#pic1 img{
  object-fit: cover;
  object-position:center;
  width: 100%;
  height: 100%;
}
#pic2{
  grid-area: p2;
  border: 4px dotted darkred;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}
#pic2 img{
  object-fit: cover;
  object-position:center;
  width: 100%;
  height: 100%;
}

#footer {
  grid-area: ft;
  background-color: rgb(92, 92, 92);
  border: 4px solid hotpink;
  color: white;
  padding: 2.5% 5% 0 0%;
  text-align: right;
  font-size: 1.1rem;
}

.mobile-line_break {
  display: none;
}

.active{font-weight: bolder;}

@media screen and (max-width: 650px){
  #wrapper {
    grid-template-areas:
    "hd"
    "mp"
    "mp"
    "sn"
    "sn"
    "sn"
    "sn"
    "sn"
    "ft";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr) 0.8fr;
    height: 120vh;
  }
  #header {
    grid-template-rows: 
    "";
    font-size: 0.8rem;
    padding: 10px;
    height: 60%;
  }
  #pl,#pic1,#pic2 {
    display: none;
  }
  #sokbar input{width: 90%; height: 88%;}
  #section1{font-size: 1.7rem}
  #section2{font-size: 1rem;}
  #links{font-size: 1rem;grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;}
  #sokbar{margin-right: 0;}
  .mobile-line_break {display: inline}
  #footer{padding: 4% 6% 0 0%;}
}

@media screen and (max-width:754px) {
  #wrapper {
    height: 190vh;
  }
}

@media screen and (max-width:682px) {
  #wrapper {
    height: 200vh;
  }
}
/*home.html*/

#homewrapper {
  display: grid;
  background-color: var(--wrapper-basics);
  height: 180vh;
  grid-template-columns: 0.4fr repeat(2, 1fr) 0.8fr;
  grid-template-rows: 0.75fr repeat(5, 1fr) 0.8fr;
  grid-template-areas: 
  "hd hd hd hd"
}

/*ContactUs.html*/

#contactswrapper {
  display: grid;
  background-color: var(--wrapper-basics);
  height: 90vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.75fr repeat(2, 1fr);
  grid-template-areas: 
  "hd hd"
  "t1 t2"
  "t3 t4"
}

#textbox1{grid-area: t1;}#textbox2{grid-area: t2;}#textbox3{grid-area: t3;}#textbox4{grid-area: t4;}
#textbox1, #textbox2, #textbox3, #textbox4 {
  background-image: url(../img/corkbackground2.jpg);
  background-color: rgba(210, 180, 140, 0.5);
  padding: 30px;
  border-radius: 20px;
  margin: 30px;
  border: 5px gray solid;
  background-position: center;
  background-size: cover;
  color: rgb(221, 57, 57);
  font-size: 1.4rem;
  font-weight: 550;
  font-family: roboto;
}


/*AboutUs.html*/

#aboutuswrapper {
  display: grid;
  background-color: var(--wrapper-basics);
  height: 180vh;
  grid-template-columns: 0.4fr repeat(2, 1fr) 0.8fr;
  grid-template-rows: 0.75fr repeat(5, 1fr) 0.8fr;
  grid-template-areas: 
  "hd hd hd hd"
}