:root {
  --wrapper-basics: lightgray;
}

#wrapper {
  display: grid;
  background-color: var(--wrapper-basics);
  height: 180vh;
  grid-template-columns: 0.4fr repeat(2, 1fr) 0.8fr;
  grid-template-rows: 0.75fr repeat(5, 1fr) 0.8fr;
  grid-template-areas: 
  "hd hd hd hd"
  "pl mp mp p1"
  "pl mp mp p1"
  "pl sn sn p1"
  "pl sn sn p2"
  "pl sn sn p2"
  "ft ft ft ft";
}

#header {
  display: grid;
  grid-area: hd;
  font-size: 1.5rem;
  border-radius: 20px;
  border: 4px solid brown;
  background-color: rgba(255, 255, 255, 0.315);
  padding: 30px;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: 1fr;
  grid-template-areas: "links links sokbar";
}
#links a{color: rgb(359, 80, 52);}
#links {
  grid-area: links;
  display: grid;
  grid-template-areas: 
  "link1 link2 link3 blanc";
  grid-template-columns: 1fr 1fr 1fr 5fr;
  align-self: center;
}
#links1 {grid-area: link1} #links2 {grid-area: link2} #links3 {grid-area: link3} #blanc {grid-area: blanc}
#sokbar {
  border-radius: 10px;
  margin-right: 10%;
  grid-area: sokbar;
}
#sokbar input{
  width: 97%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
  object-position:center;
  border: 4px solid gray;
}

@font-face{
  font-family: british_rail_font;
  src: url('../misc/fonts/britrln_.ttf');
}
#header , #section1, #section2{
  font-family: british_rail_font;
}

#model_picture {
  border-radius: 50px 10px 50px 10px;
  grid-area: mp;
  border: 8px solid rgb(79, 79, 79);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#model_picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
}

#section {
  grid-area: sn;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
  "s1"
  "s2";
  background-color: darkgray;
  /*border: 4px solid red;*/
  border-radius: 10px 50px 0px 0px;
}
#section1 {
  grid-area: s1;
  font-size: 2rem;
  padding: 1.5% 0 0 2%;
  /*border: 4px solid blue;*/
}
#section2 {
  grid-area: s2;
  font-size: 1rem;
  padding: 2% 0 0 2%;
  /*border: 4px solid green;*/
}

#pic1 {
  grid-area: p1;
  border: 4px dotted rgb(49, 173, 161);
}

#pic2 {
  grid-area: p2;
  border: 4px dotted darkred;
}

#footer {
  grid-area: ft;
  background-color: gray;
  border: 4px solid hotpink;
}

.mobile-line_break {
  display: none;
}

@media screen and (max-width: 640px){
  #wrapper {
    grid-template-areas:
    "hd"
    "mp"
    "mp"
    "sn"
    "sn"
    "sn"
    "sn"
    "sn"
    "ft";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr) 0.8fr;
    height: 120vh;
  }
  #header {
    grid-template-rows: 
    "";
    padding: 10px;
    height: 60%;
  }
  #pl,#pic1,#pic2 {
    display: none;
  }
  #sokbar input{width: 90%; height: 88%;}
  #section1{font-size: 1.7rem}
  #section2{font-size: 0.85rem;}
  #links{font-size: 0.5; grid-template-columns: 1fr 1fr 1fr 0.3fr;}
  #sokbar{margin-right: 0;}
  .mobile-line_break {display: inline}
}