#wrapper {
  display: grid;
  height: 120vh;
  background-color:lightgray;
  grid-template-columns: 0.4fr repeat(2, 1fr) 0.8fr;
  grid-template-rows: 1fr repeat(4, 1fr) 0.8fr;
  grid-template-areas: 
  "hd hd hd hd"
  "pl mp mp p1"
  "pl sn sn p1"
  "pl sn sn p2"
  "pl sn sn p2"
  "ft ft ft ft";
}

#header {
  display: grid;
  grid-area: hd;
  font-size: 1.5rem;
  border: 4px solid brown;
  padding: 30px;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: 1fr;
  grid-template-areas: "links links sokbar";
}
#links {
  color: yellow;
  grid-area: links;
}
#sokbar {
  border: 5px dotted black;
  margin-right: 10%;
  grid-area: sokbar;
}

#model_picture {
  border-radius: 50px 10px 50px 10px;
  grid-area: mp;
  border: 4px solid gray;
}

#section {
  grid-area: sn;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
  "s1"
  "s2";
  border: 4px solid red;
}
#section1 {
  grid-area: s1;
  font-size: 2rem;
  border: 4px solid blue;
}
#section2 {
  grid-area: s2;
  font-size: 1rem;
  border: 4px solid green;
}

#pic1 {
  grid-area: p1;
  border: 4px dotted rgb(49, 173, 161);
}

#pic2 {
  grid-area: p2;
  border: 4px dotted darkred;
}

#footer {
  grid-area: ft;
  border: 4px solid hotpink;
}